html,body,div{
    padding: 0;
    margin: 0;
}
input[type=text]{
    border: 1px solid #ccc;
}
button{
    border: none;
    margin: 15px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: cornflowerblue;
    color: #fff;
}

/* 启动页 */
.doing img{
    width: 100vw;
    height: 100vh;
}
.doing div{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5%;
    background: rebeccapurple;
    color: #fff;
    position: fixed;
    top: 80%;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}

/* 引导页 */
.ownswipers .swiper-container{
    width: 100vw;
    height: 100vh;
}
.ownswipers  img{
    width: 100%;
    height: 100%;
}

/* 注册页 */
.re .re_file{
    width: 100%;
    height: 100px;
    background: gray;
    text-align: center;
    position: relative;
}
.re .re_file  img{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.re .re_file input{
    width: 100px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

/* home */
.home_list img{
    width: 100%;
}
.home_my{
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
/* second_list */
.second_list .unit_div{
    width: 49%;
    display: inline-block;
}
.second_list img{
    width: 100%;
}
